@import 'common/var';

@font-face {
  font-family: 'vue-creek-icons';
  src: url('#{$--font-path}/vue-creek-icons.woff') format('woff'),
    /* chrome, firefox */ url('#{$--font-path}/vue-creek-icons.ttf')
      format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  font-weight: normal;
  font-style: normal;
}

[class^='vc-icon-'],
[class*=' vc-icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'vue-creek-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vc-icon-info:before {
  content: '\e61a';
}

.vc-icon-error:before {
  content: '\e62c';
}

.vc-icon-success:before {
  content: '\e62d';
}

.vc-icon-warning:before {
  content: '\e62e';
}

.vc-icon-question:before {
  content: '\e634';
}

.vc-icon-back:before {
  content: '\e606';
}

.vc-icon-arrow-left:before {
  content: '\e600';
}

.vc-icon-arrow-down:before {
  content: '\e603';
}

.vc-icon-arrow-right:before {
  content: '\e604';
}

.vc-icon-arrow-up:before {
  content: '\e605';
}

.vc-icon-caret-left:before {
  content: '\e60a';
}

.vc-icon-caret-bottom:before {
  content: '\e60b';
}

.vc-icon-caret-top:before {
  content: '\e60c';
}

.vc-icon-caret-right:before {
  content: '\e60e';
}

.vc-icon-d-arrow-left:before {
  content: '\e610';
}

.vc-icon-d-arrow-right:before {
  content: '\e613';
}

.vc-icon-minus:before {
  content: '\e621';
}

.vc-icon-plus:before {
  content: '\e62b';
}

.vc-icon-remove:before {
  content: '\e635';
}

.vc-icon-circle-plus:before {
  content: '\e601';
}

.vc-icon-remove-outline:before {
  content: '\e63c';
}

.vc-icon-circle-plus-outline:before {
  content: '\e602';
}

.vc-icon-close:before {
  content: '\e60f';
}

.vc-icon-check:before {
  content: '\e611';
}

.vc-icon-circle-close:before {
  content: '\e607';
}

.vc-icon-circle-check:before {
  content: '\e639';
}

.vc-icon-circle-close-outline:before {
  content: '\e609';
}

.vc-icon-circle-check-outline:before {
  content: '\e63e';
}

.vc-icon-zoom-out:before {
  content: '\e645';
}

.vc-icon-zoom-in:before {
  content: '\e641';
}

.vc-icon-d-caret:before {
  content: '\e615';
}

.vc-icon-sort:before {
  content: '\e640';
}

.vc-icon-sort-down:before {
  content: '\e630';
}

.vc-icon-sort-up:before {
  content: '\e631';
}

.vc-icon-tickets:before {
  content: '\e63f';
}

.vc-icon-document:before {
  content: '\e614';
}

.vc-icon-goods:before {
  content: '\e618';
}

.vc-icon-sold-out:before {
  content: '\e63b';
}

.vc-icon-news:before {
  content: '\e625';
}

.vc-icon-message:before {
  content: '\e61b';
}

.vc-icon-date:before {
  content: '\e608';
}

.vc-icon-printer:before {
  content: '\e62f';
}

.vc-icon-time:before {
  content: '\e642';
}

.vc-icon-bell:before {
  content: '\e622';
}

.vc-icon-mobile-phone:before {
  content: '\e624';
}

.vc-icon-service:before {
  content: '\e63a';
}

.vc-icon-view:before {
  content: '\e643';
}

.vc-icon-menu:before {
  content: '\e620';
}

.vc-icon-more:before {
  content: '\e646';
}

.vc-icon-more-outline:before {
  content: '\e626';
}

.vc-icon-star-on:before {
  content: '\e637';
}

.vc-icon-star-off:before {
  content: '\e63d';
}

.vc-icon-location:before {
  content: '\e61d';
}

.vc-icon-location-outline:before {
  content: '\e61f';
}

.vc-icon-phone:before {
  content: '\e627';
}

.vc-icon-phone-outline:before {
  content: '\e628';
}

.vc-icon-picture:before {
  content: '\e629';
}

.vc-icon-picture-outline:before {
  content: '\e62a';
}

.vc-icon-delete:before {
  content: '\e612';
}

.vc-icon-search:before {
  content: '\e619';
}

.vc-icon-edit:before {
  content: '\e61c';
}

.vc-icon-edit-outline:before {
  content: '\e616';
}

.vc-icon-rank:before {
  content: '\e632';
}

.vc-icon-refresh:before {
  content: '\e633';
}

.vc-icon-share:before {
  content: '\e636';
}

.vc-icon-setting:before {
  content: '\e638';
}

.vc-icon-upload:before {
  content: '\e60d';
}

.vc-icon-upload2:before {
  content: '\e644';
}

.vc-icon-download:before {
  content: '\e617';
}

.vc-icon-loading:before {
  content: '\e61e';
}

.vc-icon-loading {
  animation: rotating 2s linear infinite;
}

.vc-icon--right {
  margin-left: 5px;
}
.vc-icon--left {
  margin-right: 5px;
}

@keyframes rotating {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
