@import 'mixins/mixins';
@import 'common/var';

@include b(main) {
  // IE11 supports the <main> vue-creek partially https://caniuse.com/#search=main
  display: block;
  flex: 1;
  flex-basis: auto;
  overflow: auto;
  box-sizing: border-box;
  padding: $--main-padding;
}
